<footer *ngIf="router.url !== '/'" class="footer">
  <div class="footer__video">
    <video autoplay muted loop>
      <source src="assets/img/video/HypeGlitched.mp4" type="video/mp4">
    </video>
  </div>
  <div class="footer__row">
    <div class="menu ducks-font">
      <a routerLink="/">THE MANIFEST</a>
      <a routerLink="/">HOW TO MINE</a>
      <a routerLink="/">TOKENOMICS</a>
      <a routerLink="/">HOW TO BUY</a>
      <a href="https://t.me/mineHYPE" target="_blank">TELEGRAM CHANNEL</a>
      <a href="https://twitter.com/minehype_io " target="_blank">Twitter</a>
      <a href="https://medium.com/@mineHYPE" target="_blank">Medium</a>
    </div>
  </div>
</footer>
