@mixin custom-form-field-theme($theme) {
  $primary: map-get($map: $theme, $key: primary);
  $accent: map-get($map: $theme, $key: accent);
  $warn: map-get($map: $theme, $key: warn);
  $background: map-get($map: $theme, $key: background);
  $foreground: map-get($map: $theme, $key: foreground);

  .mat-form-field {
    width: 100%;
  }
  .mat-table {
    background: transparent;
    width: 100%;
    .mat-header-cell {
      color: #FACC56;
      font-size: 22px;
      font-family: Ducks;
    }
    .mat-cell, .mat-footer-cell {
      padding: 1.6rem 0;
      padding-right: 2rem;
      vertical-align: middle;
    }
    tr.mat-row, tr.mat-footer-row {
      background: transparent;
    }
    tr.mat-row:nth-child(even) {
      background: rgba(255, 255, 255, 0.07);
    }
  }
  th.mat-header-cell:first-of-type,  td.mat-footer-cell:first-of-type {
    padding-right: 3rem;
    padding-top: 2px;
    padding-left: 0 !important;
  }
  .mat-table .mat-header-cell {
    padding-right: 3rem;
  }
  mat-row, mat-header-row, mat-footer-row, th.mat-header-cell, td.mat-cell, td.mat-footer-cell {
    border-bottom-color: $color-red;;
  }
}
