@import "variables";

@mixin custom-mat-divider-theme($theme) {
  $primary: map-get($map: $theme, $key: primary);
  $accent: map-get($map: $theme, $key: accent);
  $warn: map-get($map: $theme, $key: warn);
  $background: map-get($map: $theme, $key: background);
  $foreground: map-get($map: $theme, $key: foreground);

  .mat-divider {
  }
}
