<div class="home">
    <div class="home__banner">
        <div class="home__video">
            <video autoplay  muted loop>
                <source src="assets/img/video/hype.mp4" type="video/mp4">
            </video>
            <video class="video" autoplay  muted loop>
                <source src="assets/img/video/hype.mp4" type="video/mp4">
            </video>
        </div>
        <div class="home__banner__container">
            <label class="home__title">The most honest crypto in the world</label>
            <p class="home__text">HYPE rate depends only on its popularity.</p>
            <p class="home__text mb-21">No bullshit in your ears, honest risks</p>
            <div class="d-flex justify-center flex-column flex-md-row mb-21">
                <a href="https://forms.gle/PNRAc8nN3LpdRuNT6" target="_blank">
                    <button mat-button class="whitelist-button button ducks-font mb-5">Whitelist</button>
                </a>
            </div>
            <div class="d-flex justify-md-space-between flex-column flex-md-row mb-100 mb-md-200 home__banner-buttons">
                <a class="button-link" href="https://twitter.com/minehype_io" target="_blank">
                    <mat-icon svgIcon="twitter"></mat-icon>
                    <button  mat-button class="button ducks-font mb-5">Twitter</button>
                </a>
                <a class="button-link" href="https://medium.com/@mineHYPE" target="_blank">
                    <mat-icon svgIcon="medium"></mat-icon>
                    <button  mat-button class="button ducks-font mb-5">Medium</button>
                </a>

                <a class="button-link" href="https://github.com/mineHYPE" target="_blank">
                    <mat-icon svgIcon="git"></mat-icon>
                    <button  mat-button class="button ducks-font mb-5">Github</button>
                </a>

                <a class="button-link" href="https://t.me/mineHYPE" target="_blank">
                    <mat-icon svgIcon="tg"></mat-icon>
                    <button  mat-button class="button ducks-font mb-5">Telegram</button>
                </a>
            </div>
            <div #manifest class="home__manifest pa-5 pt-0 pa-md-21">
                <div class="home__manifest__title">
                    Who needs a whitepaper when you have
                </div>
                <div class="home__title my-15">
                    THE MANIFEST
                </div>
                <p class="home__manifest__text">
                    Media noise, breaking news, hot social projects are all just a mask that content makers use to get their piece of the pie on a wave of hype. Hype affects
                    every aspect of human life and spreads instantly. It is a wave of pure energy in media space.</p>
                <p class="home__manifest__text color-red">You can't touch it, but NOW you can feel it and ride it.<p>
                <p class="home__manifest__text">
                    We have created a HYPE indicator - yet one of the kind project, which empowers you to put the Hype for the good use. Honestly and with predictable results.
                </p>
                <div class="home__manifest__text color-red">
                    While others hide behind the mask of media lies and hypocrisy in the form of meme-coins,
                    you can use the most honest approach of identification - a decentralized HYPE with no intermediaries.
                </div>
                <div class="home__title my-10">
                    Real Hype 3.0
                </div>
                <div class="home__manifest__title">
                    Till this exact day the hype was controlling people, now it is possible to control the hype!
                </div>
            </div>
        </div>
    </div>
    <div class="content__container">
        <div #tokenomics class="home__tokenomics">
            <label class="home__title">TOKENOMICS</label>
            <p class="home__text">Most of the HYPE goes to honest token mining.
                The rest is gonna be split between the team, the guys did some work in here, duh. Hype also needs some liquidity, you just know that, right?</p>

            <div class="position--relative">
                <img class="home__tokenomics__image" src="assets/img/tokenomics.png">
                <div class="white--text home__tokenomics__text">A total of
                    <div class="red--text">7 billion</div>
                    tokens</div>
            </div>
        </div>
        <div class="home__funds">
            <label class="home__title">Use of funds</label>
            <p class="home__text">Money come and go, so we have identified two expense types, where all the funds
                gained shall be spent. Below is an incredibly complex chart that will help you to understand everything.</p>

            <div class="align-items-center flex-center home__funds__row">
                <div class="home__funds__text yellow-color">liquidity <b>50%</b></div>
                <mat-icon svgIcon="icon"></mat-icon>
                <div class="home__funds__text purple-color"><b>50%</b>marketing</div>
            </div>
        </div>
        <div #mine class="home__mine">
            <div class="home__title mb-100">How to mine HYPE?</div>
            <div class="home__mine__row">
                <div class="home__mine__text text-align-center size18-weight400"><div class="ducks-font size48-weight400">1</div>
                    Connect your wallet on the website, go to "mine hype" section and copy your personal promo code </div>
                <div class="home__mine__text text-align-center size18-weight400"><div class="ducks-font size48-weight400">2</div>
                    Download promotional materials (or make your own) and create a social media post or distribute your promo code in any other way</div>
                <div class="home__mine__text text-align-center size18-weight400"><div class="ducks-font size48-weight400">3</div>
                    Anyone who uses your promo code will get 10% more tokens when they buy. You'll get 10% of his refill amount in HYPE tokens</div>
                <div class="home__mine__text text-align-center size18-weight400"><div class="ducks-font size48-weight400">4</div>
                    Go to your personal cabinet and claim bonus tokens</div>
            </div>
        </div>

        <div class="home__example text-align-center mb-100">
            <div class="mb-5">Example:</div>
            <div class="yellow-color montserrat-font size18-weight400">
                A person sees your post, uses your promo code and buys $1,000 worth of HYPE tokens.
                He's getting $1,100 worth of tokens and you get $100 worth of tokens)</div>
        </div>

        <div #buy class="home__mine">
            <div class="home__title mb-100">How to buy HYPE?</div>
            <div class="home__mine__row">
                <div class="home__mine__text text-align-center size18-weight400"><div class="ducks-font size48-weight400">1</div>Connect a wallet on the site, go to "buy hype"</div>
                <div class="home__mine__text text-align-center size18-weight400"><div class="ducks-font size48-weight400">2</div>Choose a network to buy and enter promo code</div>
                <div class="home__mine__text text-align-center size18-weight400"><div class="ducks-font size48-weight400">3</div>Follow the link to DEX and send USDT/ETH or BnB/BUSD to the public address of the smart contract </div>
                <div class="home__mine__text text-align-center size18-weight400"><div class="ducks-font size48-weight400">4</div>After you get hype tokens on wallet, go to personal cabinet and claim bonus tokens</div>
            </div>
            <div class="home__attention">
                <div class="home__attention__icon"><b class="ducks-font">!</b></div>

                <div class="home__attention__text flex-center">
                    Consideration of bonuses and promo codes are taken into account only in case when transfer to Pancake took place from “buy hype"
                    section and only with the promo code (as bonuses are paid out in tokens which weren’t used before)
                </div>
            </div>
        </div>

    </div>

    <div class="home__banner__container">

        <label class="home__title">Why to spend HYPE?</label>
        <p class="home__text">Show everyone anything, for example your product, instagram or some video on youtube!</p>
        <div class="home__subtext">
            Specify the number of unique clicks on the link and the cost that you are willing to pay for this task. You can negotiate additional terms using any messenger or social network.
            The user who accepts the contract will be rewarded only after the terms of the contract are fulfilled.
        </div>
        <p class="home__text semi-bold">You can create contracts with payment by your HYPE to get some real life hype!
            Goddammit!</p>
       <div class="home__agents">
           <label class="home__title">BECOME ONE OF  THE HYPE AGENTS to Get agent tokens</label>
           <div class="home__subtext">
               Extract HYPE by inviting new members to the platform using your personal promo code.
               Each week a Hype Mining leader is promoted to become a Hype Agent.
           </div>
           <p class="home__text">After 100 people become Agents, agent tokens will be distributed among them proportionally to the Hype mining promo code</p>
           <div class="home__agents__button">
               <app-button [text]="'VIEW AGENT LIST'" [color]="'primary'"></app-button>
           </div>
       </div>

        <div class="home__ready">
            <label class="home__title mb-10">GET READY FOR HYPE RIDE!</label>
            <div class="home__ready__buttons">
                <app-button (btnClick)="initialize()" [text]="'connect wallet'" [color]="'primary'"></app-button>
            </div>
        </div>

    </div>
    <footer class="footer">
        <div class="footer__video">
            <video autoplay="autoplay"  muted loop>
                <source src="assets/img/video/hype.mp4" type="video/mp4">
            </video>
        </div>
        <div class="footer__row">
            <div class="menu ducks-font">
                <a (click)="scrollToElement(manifest)">THE MANIFEST</a>
                <a (click)="scrollToElement(mine)">HOW TO MINE</a>
                <a (click)="scrollToElement(tokenomics)">TOKENOMICS</a>
                <a (click)="scrollToElement(buy)">HOW TO BUY</a>
                <a href="https://t.me/mineHYPE" target="_blank">TELEGRAM CHANNEL</a>
                <a href="https://twitter.com/minehype_io " target="_blank">Twitter</a>
                <a href="https://medium.com/@mineHYPE" target="_blank">Medium</a>
            </div>
        </div>
    </footer>
</div>
