<div class="main-layout">
  <div>
    <div class="main-layout__head">
      <app-header></app-header>
    </div>
    <div class="main-layout__content mt-16">
      <router-outlet></router-outlet>
    </div>
  </div>

  <div class="main-layout__footer">
    <app-footer></app-footer>
  </div>
</div>



<!--<ng-template #desktop>-->
<!--  <div>-->
<!--    <div class="main-layout__head">-->
<!--      <app-header></app-header>-->
<!--    </div>-->
<!--    <div class="main-layout__content mt-16">-->
<!--      <router-outlet></router-outlet>-->
<!--    </div>-->
<!--  </div>-->

<!--  <div class="main-layout__footer">-->
<!--    <app-footer></app-footer>-->
<!--  </div>-->
<!--</ng-template>-->


<!--<ng-template #mobile>-->
<!--  <div>-->
<!--    <div class="main-layout__head">-->
<!--      <header class="header">-->
<!--        <a href="/" class="header__logo">-->
<!--          <img src="assets/img/logo.svg" alt="DAO logo" />-->
<!--        </a>-->
<!--        <mat-icon svgIcon="burgerIcon" (click)="open(drawer)"></mat-icon>-->
<!--      </header>-->
<!--    </div>-->
<!--    <div class="main-layout__content">-->
<!--      <router-outlet></router-outlet>-->
<!--    </div>-->
<!--  </div>-->

<!--  <div class="main-layout__footer">-->
<!--    <app-footer></app-footer>-->
<!--  </div>-->
<!--</ng-template>-->

