@font-face {
  font-family: Ducks;
  src: url(/assets/fonts/duck4game.ttf);
}

@font-face {
  font-family: 'Montserrat', sans-serif;
  src: url(https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Oswald:wght@400;700&display=swap);
}
