// FONTS
$main-font: "Inter", sans-serif;
$sub-font: "Inter", sans-serif;
// COLORS

$color-white: #fff;
$color-extra-light-grey: #F1F3FC;
$color-light-grey: #C9C9C9;
$color-grey: #A8A8A8;
$color-dark-grey: #494949;
$color-grey-type-2: #575757;
$color-grey-type-3: #86899D;
$color-black: #0f0f0f;
$color-light-red: #fe5151;
$color-red: #FF4016;
$color-light-green: #41bf92;
$color-blue: #3a56ff;
$color-green: #41BF92;
$color-yellow: #eabf51;

// BREAKPOINTS

$desktop-s: 1280px;
$tablet-l: 1024px;
$tablet: 992px;
$tablet-s: 768px;

// FONT-WEIGHT

$light-font-weight: 300;
$normal-font-weight: 400;
$average-font-weight: 500;
$semi-bold-font-weight: 600;
$bold-font-weight: 700;

// SIZES
$s-1: 0.4rem; // 4px
$s-2: 0.8rem; // 8px
$s-3: 1.2rem; // 12px
$s-4: 1.6rem; // 16px
$s-5: 2rem; // 20px
$s-6: 2.4rem; // 24px
$s-7: 2.8rem; // 28px
$s-8: 3.2rem; // 32px
$s-9: 3.6rem; // 36px
$s-10: 4rem; // 40px
$s-11: 4.4rem; // 44px
$s-12: 4.8rem; // 48px
$s-13: 5.2rem; // 52px
$s-14: 5.6rem; // 56px
$s-15: 6rem; // 60px
$s-16: 6.4rem; // 64px
$s-17: 6.8rem; // 68px
$s-18: 7.2rem; // 72px
$s-19: 7.6rem; // 76px
$s-20: 8rem; // 80px

$default-gap: $s-4;
$mat-expansion-panel-header-padding: 0 $s-6;

$primary-palette: (
  50 : #3A56FD,
  100 : #3A56FD,
  200 : #3A56FD,
  300 : #3A56FD,
  400 : #3A56FD,
  500 : #3A56FD,
  600 : #3A56FD,
  700 : #3A56FD,
  800 : #3A56FD,
  900 : #3A56FD,
  A100 : #fff,
  A200 : #fff9ed,
  A400 : #ffe7ba,
  A700 : #ffdfa1,
  contrast: (
    50 : #000,
    100 : #000,
    200 : #000,
    300 : #000,
    400 : #000,
    500 : #000,
    600 : #000,
    700 : #000,
    800 : #000,
    900 : #000,
    A100 : #000,
    A200 : #000,
    A400 : #000,
    A700 : #000,
  )
);

$warn-palette: (
  50 : #ffe0e0,
  100 : #ffb3b3,
  200 : #ff8080,
  300 : #ff4d4d,
  400 : #ff2626,
  500 : #f00,
  600 : #f00,
  700 : #f00,
  800 : #f00,
  900 : #f00,
  A100 : #fff,
  A200 : #fff2f2,
  A400 : #ffbfbf,
  A700 : #ffa6a6,
  contrast: (
    50 : #000,
    100 : #000,
    200 : #000,
    300 : #000,
    400 : #fff,
    500 : #fff,
    600 : #fff,
    700 : #fff,
    800 : #fff,
    900 : #fff,
    A100 : #000,
    A200 : #000,
    A400 : #000,
    A700 : #000,
  )
);
