$color-white: #fff;
$color-extra-light-grey: #F1F3FC;
$color-light-grey: #C9C9C9;
$color-grey: #999999;
$color-dark-grey: #494949;
$color-grey-type-2: #575757;
$color-grey-type-3: #86899D;
$color-black: #0f0f0f;
$color-light-red: #fe5151;
$color-red: #FF4016;
$color-light-green: #41bf92;
$color-blue: #3a56ff;
$color-green: #41BF92;
$color-yellow: #FACC56;

.white--color {
  background: $color-white;
}
.white--text {
  color: $color-white;
}
.white--border {
  border: 1px solid $color-white;
  border-radius: 0;
}

.extra-light-gray--color {
  background: $color-extra-light-grey;
}
.extra-light-gray--text {
  color: $color-extra-light-grey;
}
.extra-light-grey--border {
  border: 1px solid $color-extra-light-grey;
  border-radius: 0;
}

.light-grey--color {
  background: $color-light-grey;
}
.light-grey--text {
  color: $color-light-grey;
}
.light-grey--border {
  border: 1px solid $color-light-grey;
  border-radius: 0;
}

.grey--color {
  background: $color-grey;
}
.grey--text {
  color: $color-grey;
}
.grey--border {
  border: 1px solid $color-grey;
  border-radius: 0;
}

.dark-grey--color {
  background: $color-dark-grey;
}
.dark-grey--text {
  color: $color-dark-grey;
}
.dark-grey--border {
  border: 1px solid $color-dark-grey;
  border-radius: 0;
}

.grey-type-2--color {
  background: $color-grey-type-2;
}
.grey-type-2--text {
  color: $color-grey-type-2;
}
.grey-type-2--border {
  border: 1px solid $color-grey-type-2;
  border-radius: 0;
}

.grey-type-3--color {
  background: $color-grey-type-3;
}
.grey-type-3--text {
  color: $color-grey-type-3;
}
.grey-type-3--border {
  border: 1px solid $color-grey-type-3;
  border-radius: 0;
}

.black--color {
  background: $color-black;
}
.black--text {
  color: $color-black;
}
.black--border {
  border: 1px solid $color-black;
  border-radius: 0;
}

.light-red--color {
  background: $color-light-red;
}
.light-red--text {
  color: $color-light-red;
}
.light-red--border {
  border: 1px solid $color-light-red;
  border-radius: 0;
}

.red--color {
  background: $color-red;
}
.red--text {
  color: $color-red;
}
.green--text {
  color: $color-red;
}
.red--border {
  border: 1px solid $color-red;
  border-radius: 0;
}

.light-green--color {
  background: $color-light-green;
}
.light-green--text {
  color: $color-light-green;
}
.light-green--border {
  border: 1px solid $color-light-green;
  border-radius: 0;
}

.blue--color {
  background: $color-blue;
}
.blue--text {
  color: $color-blue;
}
.blue--border {
  border: 1px solid $color-blue;
  border-radius: 0;
}

.green--color {
  background: $color-green;
}
.green--text {
  color: $color-green;
}
.green--border {
  border: 1px solid $color-green;
  border-radius: 0;
}

.yellow--color {
  background: $color-yellow;
}
.yellow--text {
  color: $color-yellow;
}
.yellow--border {
  border: 1px solid $color-yellow;
  border-radius: 0;
}
