

.size14-weight400 {
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 12px;
}

.size15-weight400 {
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 20px;
}

.size16-weight400 {
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 20px;
}

.size18-weight400 {
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 25px;
}

.size22-weight400 {
  font-size: 22px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 20px;
}

.size30-weight400 {
  font-size: 30px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 30px;
}

.size32-weight400 {
  font-size: 32px;
  font-weight: 400;
  letter-spacing: 0;
}

.size32-md-weight400 {
  @media (min-width: 768px) {
    font-size: 32px;
    font-weight: 400;
    letter-spacing: 0;
  }
}

.size48-weight400 {
  font-size: 48px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 55px;
}

.size48-md-weight400 {
  @media (min-width: 768px) {
    font-size: 48px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 55px;
  }
}

.size14-weight700 {
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0;
}

.size16-weight700 {
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0;
}

.size18-weight700 {
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0;
}

.size24-weight700 {
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 0;
}

.size32-weight700 {
  font-size: 32px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: 35px;
}
